.ninjaAbl,
.ninjaAbl span{
	padding-top:20px;
	font:30px Arial;
	text-align:center
}
.color,
#color{
	font:30px Arial;
	margin-top: 10px
}
@media print{
	.ninjaAbl{
		margin:0
	}
	*{
		margin:0;
		padding:0
	}
	body{
		background:url("certificate.jpg");
		background-size:99vw 99vh
	}
}
@media screen{
	.noScreen{
		display:none
	}
}
.nameIs{
	text-align:center;
	font:50px 'Kaushan Script'
}
.wh{
	color:white
}