.ninjaAbl,
.ninjaAbl span{
	padding-top:20px;
	font:30px Arial;
	text-align:center
}
.color,
#color{
	font:30px Arial;
	margin-top: 10px
}
@media print{
	.ninjaAbl{
		margin:0
	}
	*{
		margin:0;
		padding:0
	}
	img#canvas{
		width:99vw;
		height:99vh;
		z-index:0;
		position:absolute
	}
}

@media screen{
	.actPrint{
		position:fixed;
		right:0;
		top:0;
		height:inherit;
		margin:10px
	}
	.noScreen{
		display:none
	}
	img#canvas{
		display:none
	}
}
.nameIs{
	text-align:center;
	font:50px 'Kaushan Script'
}
.wh{
	color:white
}