.ninjaAbl,
.ninjaAbl span{
	font:30px Arial;
	text-align:center
}
.color,
#color{
	font:30px Arial;
	margin-top: 10px;
}
@media print{
	.ninjaAbl{
		margin:0
	}
	*{
		margin:0;
		padding:0
	}
}
@media screen{
	.noScreen{
		display:none
	}
}
.nameIs{
	text-align:center;
	font:50px 'Kaushan Script'
}